@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 223 44% 92%;
    --foreground: 224 55% 15%;
    --card: 223 44% 98%;
    --card-foreground: 224 55% 15%;
    --popover: 223 44% 98%;
    --popover-foreground: 224 55% 15%;
    --primary: 224 55% 22%;
    --primary-foreground: 220 50% 95%;
    --secondary: 220 40% 85%;
    --secondary-foreground: 224 55% 22%;
    --muted: 220 40% 90%;
    --muted-foreground: 220 20% 45%;
    --accent: 220 36% 44%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 30% 80%;
    --input: 220 30% 88%;
    --ring: 220 36% 44%;
    --radius: 0.5rem;
    --chart-1: 224 55% 22%;
    --chart-2: 220 36% 44%;
    --chart-3: 220 40% 65%;
    --chart-4: 223 44% 82%;
    --chart-5: 220 30% 75%;
  }

  .dark {
    --background: 224 30% 10%;
    --foreground: 220 30% 90%;
    --card: 224 30% 14%;
    --card-foreground: 220 30% 90%;
    --popover: 224 30% 10%;
    --popover-foreground: 220 30% 90%;
    --primary: 220 40% 85%;
    --primary-foreground: 224 55% 15%;
    --secondary: 224 30% 20%;
    --secondary-foreground: 220 30% 90%;
    --muted: 224 30% 20%;
    --muted-foreground: 220 20% 60%;
    --accent: 220 36% 44%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 30% 25%;
    --input: 224 30% 25%;
    --ring: 220 36% 54%;
    --chart-1: 220 40% 85%;
    --chart-2: 220 36% 44%;
    --chart-3: 224 30% 30%;
    --chart-4: 224 30% 20%;
    --chart-5: 224 30% 14%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
